<form class="form-signin">
    <h1>Bejelentkezés</h1>
    <label for="inputUserame" class="sr-only">Felhasználónév</label>
    
    <input name="username" [(ngModel)] = "username" id="inputUserame" class="form-control" placeholder="Felhasználónév" required autofocus>
    <label for="inputPassword" class="sr-only">Jelszó</label>
    <input name="password" [(ngModel)] = "password" type ="password" id="inputPassword" class="form-control" placeholder="Jelszó" required>
    <button (click)="login()" class="btn btn-lg btn-primary btn-block" type="button">Bejelentkezés</button>
</form>
