<button (click)="logout()" type="button">Kijelentkezés</button>
<ng-container *ngIf="isAdmin == 'true'">
    TANÁR felhasználó: {{loggedInUser}} - {{userId}}
    <p>
    <h3>Hallgatók listája:</h3> 
    <ng-container *ngFor="let user of notAdminUsers">
        <p>
        {{user.username}}
        <button type="button" (click)="downloadFile(user.document)">Letöltés</button>
        <ng-container *ngIf="user.document">
            <button type="button" (click)="approveDocument(user.id)" >Approve this document</button>
        </ng-container>
    </ng-container>
</ng-container>
<ng-container *ngIf="isAdmin == 'false'">
   TANULÓ felhasználó: {{loggedInUser}} - {{userId}}
   <p>
    {{uploadedFile}}
    <form class="vertical-center" enctype="multipart/form-data">
        <input type="file" (change)="handleFileInput($event.target.files)">
        <button (click)="uploadDocument()" type="button">Dokumentum feltöltése</button>
    </form>
</ng-container>
