<button (click)="logout()" type="button">Kijelentkezés</button>
<ng-container *ngIf="isAdmin == 'true'">
    TANÁR felhasználó: {{loggedInUser}} - {{userId}}
    <p>
    <h3>Hallgatók listája:</h3> 
    <ng-container *ngFor="let user of notAdminUsers">
        <p>
        {{user.username}}
        {{user.document}}
        <ng-container *ngIf="user.document">
            <button type="button" (click)="approveDocument(user.id)" >Approve this document</button>
        </ng-container>
    </ng-container>
</ng-container>
<ng-container *ngIf="isAdmin == 'false'">
   TANULÓ felhasználó: {{loggedInUser}} - {{userId}}
   <p>
    {{uploadedFile}}
    <input type="file" [(ngModel)]="uploadedFile">
    <button (click)="uploadDocument(uploadedFile)" type="button">Dokumentum feltöltése</button>
</ng-container>
