<button class="btn btn-primary" [ngStyle]="{'float': 'right', 'margin-right': '20px'}" (click)="logout()" type="button">Kijelentkezés</button>
<ng-container *ngIf="isAdmin == 'true'">
    <h1>Bejelentkezve, mint: {{loggedInUser}}</h1>
    <h3>Jogkör: TANÁR</h3>
    <p>
    <h3>Hallgatók listája:</h3> 
    <ng-container *ngFor="let user of notAdminUsers">
        <p>
        {{user.username}}
        <ng-container *ngIf="user.document">
            <button type="button" (click)="downloadFile(user.document)">Letöltés</button>
            <button type="button" (click)="approveDocument(user.id)" >Approve this document</button>
        </ng-container>
    </ng-container>
</ng-container>
<ng-container *ngIf="isAdmin == 'false'">
   <h1>Bejelentkezve, mint: {{loggedInUser}}</h1>
   <h3>Jogkör: TANULÓ</h3>
   <p>
    <h3>Dokumentum feltöltése:</h3>
    <form class="vertical-center" enctype="multipart/form-data">
        <input type="file" accept=".txt" [ngStyle]="{'margin-left': '10px'}" (change)="handleFileInput($event.target.files)">
        <p>
        <p>
        <p>
        <button class="btn btn-primary" [ngStyle]="{'margin-left': '10px'}" (click)="uploadDocument()" type="button">Dokumentum feltöltése</button>
    </form>
</ng-container>
